<div class="container">
  <h1 class="text-primary">Bootstrap is working in Angular 19</h1>
  <button class="btn btn-primary">Click me</button>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Purchase Date</th>
    <th>Sell Date</th>
    <th>Seller</th>
    <th>Buyer</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>

    @for (manager of Meme; track manager) {
      <tr>
        <td>{{ Meme.indexOf(manager) + 1 }}</td>
        <td>{{ manager.name }}</td>
        <td style="color: rgb(110, 79, 184);">{{ manager.price }}</td>
        <td>{{ manager.quantity }}</td>
        <td style="color: rgb(54, 71, 102);">{{ manager.purchaseDate }}</td>
        <td>{{ manager.sellDate }}</td>
        <td style="color: rgb(110, 79, 184);">{{ manager.seller }}</td>
        <td>{{ manager.buyer }}</td>

        <td>
          <button class="btn btn-primary btn-outline-warning "
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  (click)="editUser(manager)">Update
          </button>
          <br>

          <button class="btn btn-outline-danger btn-secondary "
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  (click)="deleteUser(manager)">Delete
          </button>
        </td>
      </tr>
    }
  </tbody>

</table>




